<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>car_service_system</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.gqt.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerRegister</display-name>
		<servlet-name>CustomerRegister</servlet-name>
		<servlet-class>com.gqt.controller.CustomerRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerRegister1</display-name>
		<servlet-name>CustomerRegister1</servlet-name>
		<servlet-class>com.gqt.controller.CustomerRegister1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>com.gqt.controller.CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CarDetails</display-name>
		<servlet-name>CarDetails</servlet-name>
		<servlet-class>com.gqt.controller.CarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>carService</display-name>
		<servlet-name>carService</servlet-name>
		<servlet-class>com.gqt.controller.carService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>editCarDetails</display-name>
		<servlet-name>editCarDetails</servlet-name>
		<servlet-class>com.gqt.controller.editCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckStatusDetails</display-name>
		<servlet-name>CheckStatusDetails</servlet-name>
		<servlet-class>com.gqt.controller.CheckStatusDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckServiceStatus</display-name>
		<servlet-name>CheckServiceStatus</servlet-name>
		<servlet-class>com.gqt.controller.CheckServiceStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterCustomer</display-name>
		<servlet-name>RegisterCustomer</servlet-name>
		<servlet-class>com.gqt.controller.RegisterCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisteredCustomers</display-name>
		<servlet-name>RegisteredCustomers</servlet-name>
		<servlet-class>com.gqt.controller.RegisteredCustomers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServiceStatus</display-name>
		<servlet-name>UpdateServiceStatus</servlet-name>
		<servlet-class>com.gqt.controller.UpdateServiceStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerRegister</servlet-name>
		<url-pattern>/CustomerRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerRegister1</servlet-name>
		<url-pattern>/CustomerRegister1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CarDetails</servlet-name>
		<url-pattern>/CarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>carService</servlet-name>
		<url-pattern>/carService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editCarDetails</servlet-name>
		<url-pattern>/editCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckStatusDetails</servlet-name>
		<url-pattern>/CheckStatusDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckServiceStatus</servlet-name>
		<url-pattern>/CheckServiceStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterCustomer</servlet-name>
		<url-pattern>/RegisterCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisteredCustomers</servlet-name>
		<url-pattern>/RegisteredCustomers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServiceStatus</servlet-name>
		<url-pattern>/UpdateServiceStatus</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
